.product-item {
  font-size: 1.15rem;
  margin: 0.25rem 0;
}

.product-item h2.fav {
  color: #ff2058;
}

.product-item p {
  margin: 0.25rem 0;
}

li {
  list-style: none;
}

button {
  font: inherit;
  background: #ff2058;
  padding: 0.5rem 2rem;
  color: white;
  border: 1px solid #ff2058;
  margin: 0.5rem 0;
  border-radius: 5px;
  cursor: pointer;
}

button:hover,
button:active {
  background: white;
  color: #ff2058;
}

button:focus {
  outline: none;
}

button.button-outline {
  background: white;
  color: #ff2058;
}

button.button-outline:hover,
button.button-outline:active {
  background: #ff2058;
  color: white;
  box-shadow: none;
}
